@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP</h1>
</div>

<h1>Content</h1>

<h3><a href="/Home/Intro">1. Intro</a></h3>
<h3><a asp-controller="Home" asp-action="Razor">2. Razor</a></h3>
<h3><a asp-controller="Home" asp-action="IoC">3. Inversion of Control</a></h3>
<h3><a asp-controller="Home" asp-action="PasswordGenerator">4. Password Generator</a></h3>
<h3><a asp-controller="Home" asp-action="Models">5. Data transfer. Models</a></h3>
<h3><a asp-controller="Home" asp-action="Review">6. Submit a review</a></h3>