@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h1 class="display-4">Introduction to ASP</h1>
</div>
<p>
    <b>ASP</b> - Active Server Pages - фреймворк .NET для создания веб-приложений.
</p>
<p>
    Отличительной чертой является формирование кода в зависимости от параметров запроса.
    Например, на запрос <code>/Home/Intro</code> выполняется поиск класса <code>HomeController</code> (где Home - 
    это первая часть запроса), а в этом классе ищется метод (action) <code>public IActionResult Intro()</code>
    (где Intro - это вторая часть запроса)
</p>
<p>
    Одной из важных характеристик является многослойная архитектура, включающая ASP.NET Web Forms, ASP.NET MVC, ASP.NET
    Web API и ASP.NET Core. Эта гибкая структура предоставляет разработчикам разнообразные возможности, а выбор 
    конкретного подхода зависит от требований проекта.
</p>
<p>
    Серверные элементы управления в ASP.NET предоставляют инструменты для создания динамических веб-страниц, и 
    обеспечивают взаимодействия с элементами управления на сервере. В сравнении с другими веб-фреймворками, ASP.NET 
    выделяется гибкостью и простотой использования.
</p>
<p>
    Производительеность ASP.NET, особенно в сочетании с ASP.NET Core обеспечивается эффективным управлением памятью,
    поддержкой асинхронного программирования и оптимизированной обработкой HTTP-запросов. ASP.NET - это мощный
    инструментарий, который объединяет гибкость и эффективность для создания современных и производительных 
    веб-приложений.
</p>
<p>
    ASP.NET предлагает два основных подхода к разработке веб-приложений:<br/>
    <b>Web Forms</b> - это традиционный подход к разработке веб-приложений, основанный на использовании шаблонов и 
    серверных скриптов. Web Forms упрощают разработку простых веб-приложений, но могут быть сложными и трудоемкими 
    для сложных приложений.<br/>
    <b>MVC</b> - это более современный подход, основанный на архитектуре MVC. Он упрощает разработку сложных 
    веб-приложений, но требует от разработчиков более глубокого понимания архитектуры веб-приложений
</p>