@{
    ViewData["Title"] = "Admin's page";
}

<div class="text-center">
    <h1 class="display-4">Admin's page</h1>
</div>

<div class="row">
    <div class="col">
        <h2>Categories</h2>
        <form id="admin-category-form" enctype="multipart/form-data">
            Name: <input name="category-name"/><br/>
            Description: <textarea name="category-description"></textarea><br/>
            Address: <input name="category-slug"/><br/>
            Picture: <input name="category-image" type="file"/><br/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="col">
        <h2>Goods</h2>
    </div>
</div>
<div id="alert" class="alert"></div>